@use "sass:math";
@use "colors";
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  background-color: colors.$bg;
  color: colors.$fg;
  font-family: $font;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;

  &-thumb {
    background-color: colors.$primary;
  }
}
